SELECT a.* /*** TUNING_FLAG_LOCAL_EXTERNAL ***/
FROM	(SELECT PAGING.*,
	ROWNUM PAGING_RN
FROM	(SELECT /*+ index(a CMCOCON_I5) */ a.* ,
	SUBSTR(tasy.cm_obter_dados_conjunto(NR_SEQ_CONJUNTO,
	'L'),
	1,
	200) DS_LOCALIZACAO_CONJUNTO,
	substr(decode(nm_conjunto_aux,
	null,
	tasy.cme_obter_nome_conjunto(nr_seq_conjunto),
	nm_conjunto_aux),
	1,
	200) NM_CONJUNTO,
	substr(decode(ds_equipamento,
	null,
	tasy.obter_dados_ciclo(nr_seq_ciclo,
	'E'),
	ds_equipamento),
	1,
	255) DS_EQUIPAMENTO_CICLO,
	substr(decode(nr_ciclo_aux,
	null,
	tasy.cm_obter_nr_ciclo(nr_seq_ciclo),
	nr_ciclo_aux),
	1,
	10) NR_CICLO,
	substr(decode(ds_classificacao_aux,
	null,
	tasy.CME_Obter_desc_classif_conj2(nr_seq_conjunto),
	ds_classificacao_aux),
	1,
	200) DS_CLASSIFICACAO,
	substr(decode(ds_status_conjunto_aux,
	null,
	tasy.obter_valor_dominio(403,
	ie_status_conjunto),
	ds_status_conjunto_aux),
	1,
	200) DS_STATUS_CONJUNTO,
	substr(decode(ds_embalagem_aux,
	null,
	tasy.cme_obter_classif_embalagem(nr_seq_embalagem),
	ds_embalagem_aux),
	1,
	50) DS_EMBALAGEM,
	substr(decode(ds_local_estoque_aux,
	null,
	tasy.obter_desc_local_estoque(cd_local_estoque),
	ds_local_estoque_aux),
	1,
	40) DS_LOCAL_ESTOQUE,
	substr(decode(nm_pessoa_fisica_aux,
	null,
	tasy.obter_nome_pessoa_fisica(cd_pessoa_fisica,
	null),
	nm_pessoa_fisica_aux),
	1,
	200) NM_PESSOA_FISICA,
	substr(decode(ds_setor_atend_orig_aux,
	null,
	tasy.obter_nome_setor(cd_setor_atend_orig),
	ds_setor_atend_orig_aux),
	1,
	255) DS_SETOR_ATEND_ORIG,
	substr(decode(ds_setor_requisicao_aux,
	null,
	tasy.obter_nome_setor(cd_setor_atend_dest),
	ds_setor_requisicao_aux),
	1,
	255) DS_SETOR_REQUISICAO,
	substr(tasy.obter_razao_social(cd_cgc),
	1,
	200) DS_RAZAO_SOCIAL,
	substr(decode(nm_medico_aux,
	null,
	tasy.obter_nome_medico(cd_medico,
	'G'),
	nm_medico_aux),
	1,
	255) NM_MEDICO,
	decode(substr(tasy.cm_obter_se_conj_completo(nr_sequencia),
	1,
	1),
	'S',
	'Sim',
	'Não') IE_COMPLETO,
	substr(decode(ds_cor_conjunto_aux,
	null,
	tasy.cme_obter_cor_conjunto(nr_seq_conjunto),
	ds_cor_conjunto_aux),
	1,
	15) DS_COR_CONJUNTO,
	substr(decode(nm_pessoa_resp_aux,
	null,
	tasy.obter_nome_pessoa_fisica(cd_pessoa_resp,
	null),
	nm_pessoa_resp_aux),
	1,
	60) NM_PESSOA_RESP,
	decode(substr(tasy.cm_obter_se_conj_em_transf(nr_sequencia),
	1,
	1),
	'S',
	'Sim',
	'Não') IE_TRANSFERENCIA,
	substr(tasy.cm_obter_lista_nf_transf(nr_sequencia),
	1,
	255) NR_NOTA_TRANSFERENCIA,
	tasy.cm_obter_data_receb_transf(nr_sequencia) DT_RECEB_TRANSFERENCIA,
	substr(tasy.cm_obter_estab_origem_conj(nr_sequencia,
	'D'),
	1,
	255) DS_ESTAB_ORIGEM,
	tasy.cm_obter_req_conjunto(nr_sequencia) NR_REQUISICAO,
	substr(tasy.obter_lote_externo_cme(NR_SEQ_ENVIO_EXT_ITEM),
	1,
	255) DS_LOTE,
	cm_obter_se_conj_completo(NR_SEQ_CONJUNTO) ie_compl
FROM	tasy.CM_CONJUNTO_CONT a
WHERE 1 = 1 
	AND	cd_setor_atendimento = 20 
	AND	tasy.cm_obter_estab_atual_conj(nr_sequencia) = 1 
	AND	nvl(ie_expurgo,'N') = 'N' 
	AND	ie_status_conjunto not in (7,8,9) 
	AND	not exists (SELECT 1
FROM	tasy.cm_manutencao_conj y
WHERE y.nr_seq_conjunto = a.nr_seq_conjunto 
	AND	y.dt_retorno is null) 
	AND	ie_status_conjunto = 1 
	AND	trunc(dt_origem) between to_date('19/11/2021', 'dd/mm/yyyy') 
	AND	to_date('19/11/2021', 'dd/mm/yyyy') 
	AND	nr_seq_ciclo is null 
	AND	nr_seq_lote is null
ORDER BY 1) PAGING) a
WHERE (PAGING_RN > 0) 
	AND	(PAGING_RN <= 50)