SELECT	a.nr_atendimento,
		OBTER_NOME_PACIENTE(a.nr_atendimento) atendimento,
		d.cd_doenca,
		OBTER_DESC_PROCEDIMENTO(l.CD_PROCEDIMENTO_SOLIC, 7) DS_PROCEDIMENTO,
		a.DT_ENTRADA DATA_NTERNAÇÃO, 
		OBTER_PROCEDENCIA_ATEND(a.NR_ATENDIMENTO,'') PROCEDÊNCIA ,
		OBTER_DIAS_INTERNACAO(a.nr_atendimento) dias_internacao, 
		OBTER_DT_ALTA_MEDICA(a.nr_atendimento) dt_alta
 
FROM DIAGNOSTICO_DOENCA d
		JOIN ATENDIMENTO_PACIENTE a
		ON d.NR_ATENDIMENTO = a.NR_ATENDIMENTO
		JOIN SUS_LAUDO_PACIENTE l
		ON l.NR_ATENDIMENTO = a.NR_ATENDIMENTO
WHERE d.CD_DOENCA LIKE 'M86%'
AND TRUNC(OBTER_DT_ALTA_MEDICA(a.nr_atendimento)) BETWEEN '01/10/2018' AND '28/02/2019'
ORDER BY OBTER_DT_ALTA_MEDICA(a.nr_atendimento)
