
SELECT f.NR_SEQUENCIA,f.ds_parametro,f.VL_PARAMETRO parametro_cliente,   p.vl_parametro parametro_perfil
FROM FUNCAO_PARAMETRO f,
FUNCAO_PARAM_PERFIL p
WHERE f.CD_FUNCAO = 88
AND f.CD_FUNCAO = p.cd_funcao
AND f.NR_SEQUENCIA = p.NR_SEQUENCIA
AND p.VL_PARAMETRO IS NOT null
--AND VL_PARAMETRO = 'EJ'
AND p.CD_PERFIL = 2146
ORDER BY 2