SELECT * FROM
PRESCR_PROCEDIMENTO
WHERE CD_SETOR_ATENDIMENTO = 43
AND TRUNC(dt_atualizacao, 'DAY') = '03/02/2019'




SELECT p.NR_PRESCRICAO, a.CD_UNIDADE_BASICA, a.DS_TIPO_ACOMOD_CONV, a.CD_UNIDADE_COMPL, a.DS_TIPO_ATENDIMENTO  FROM
PROCEDIMENTO_PACIENTE p
join
ATENDIMENTO_PACIENTE_V a
ON p.NR_ATENDIMENTO = a.NR_ATENDIMENTO


WHERE CD_SETOR_PACIENTE = 43
AND TRUNC(dt_PRESCRICAO, 'DAY') = '03/02/2019'



SELECT * FROM LOG_INTEGRACAO_EVENTO
WHERE DS_OBSERVACAO LIKE '%1204982%'

SELECT * FROM
LOG_INTEGRACAO_HL7
WHERE NR_SEQ_LOG = 811534