
SELECT a.nr_atendimento FROM ANAMNESE_PACIENTE a
WHERE NOT EXISTS (SELECT e.nr_atendimento FROM EHR_REGISTRO e, EHR_REG_TEMPLATE t 
					WHERE e.IE_SITUACAO = 'A' and e.NR_SEQUENCIA = t.NR_SEQ_REG and  t.NR_SEQ_TEMPLATE = 100673 AND e.NR_ATENDIMENTO = a.NR_ATENDIMENTO)
and OBTER_DATA_ALTA_ATENd(nr_atendimento) is null



SELECT e.nr_atendimento FROM EHR_REGISTRO e, EHR_REG_TEMPLATE t
WHERE  e.NR_SEQUENCIA = t.NR_SEQ_REG and  t.NR_SEQ_TEMPLATE = 100673
and NOT EXISTS (SELECT a.nr_atendimento FROM ANAMNESE_PACIENTE a WHERE e.NR_ATENDIMENTO = a.NR_ATENDIMENTO)
and OBTER_DATA_ALTA_ATENd(nr_atendimento) is null
					



SELECT DS_SETOR_ATENDIMENTO, nr_atendimento  FROM ATENDIMENTO_PACIENTE_v
WHERE 
DS_TIPO_ATENDIMENTO = 'Externo'



and NOT EXISTS (SELECT e.nr_atendimento FROM EHR_REGISTRO e, EHR_REG_TEMPLATE t WHERE e.NR_SEQUENCIA = t.NR_SEQ_REG and  t.NR_SEQ_TEMPLATE = 100673 AND e.NR_ATENDIMENTO = :nr_atendimento)



select s.NR_SEQUENCIA from ATEND_SUMARIO_ALTA s
where not eXISTS (SELECT r.NR_SEQ_ATEND_SUMARIO FROM ATEND_SUMARIO_ALTA_RESUMO r WHERE r.NR_SEQ_ATEND_SUMARIO = s.NR_SEQUENCIA)

and s.ie_situacao = 'A'
and s.nr_atendimento = :nr_atendimento
order by s.NR_ATENDIMENTO


189878

nr_atendimento