SELECT count(*), 
OBTER_DESC_MATERIAL(m.CD_MATERIAL) 
FROM PRESCR_MATERIAL m
JOIN MEDIC_CONTROLADO c
ON m.CD_MATERIAL = c.CD_MATERIAL

WHERE  m.CD_MOTIVO_BAIXA = 0
AND m.CD_LOCAL_ESTOQUE = 13
AND TRUNC(m.DT_ATUALIZACAO) = '07/08/2019'
AND m.NR_SEQ_KIT_ESTOQUE IS NOT null
--NR_PRESCRICAO = 1618801
--TRUNC(m.DT_ATUALIZACAO) = '06/08/2019' 

GROUP BY m.CD_MATERIAL
ORDER BY 2