
insert into USUARIO_SETOR(nm_usuario_param, cd_setor_atendimento,dt_atualizacao, nm_usuario)
values ('LIDIANE.LOTTI',59,sysdate,'avictor')



SELECT * FROM USUARIO_SETOR
WHERE NM_USUARIO_PARAM = 'evasconcelos'