INSERT ALL
INTO
LAB_REGRA_VISUAL_EXAME(NR_SEQUENCIA,DT_ATUALIZACAO,NM_USUARIO,DT_ATUALIZACAO_NREC,NM_USUARIO_NREC,CD_CONVENIO,NR_SEQ_EXAME,NR_SEQ_GRUPO,IE_PERMITE_ACESSO,IE_SITUACAO,CD_PERFIL,IE_PERMITE_ACESSO_INTERNET,IE_PERMITE_ACESSO_INTERNET_MED,IE_TIPO_ATENDIMENTO,DS_RESULTADO)
values
(LAB_REGRA_VISUAL_EXAME_seq.Nextval,sysdate,'avictor',sysdate,'avictor',Null,1664,Null,'N','A',2189,'N','N',Null,Null)
SELECT * FROM DUAL;

INSERT ALL
INTO
LAB_REGRA_VISUAL_EXAME(NR_SEQUENCIA,DT_ATUALIZACAO,NM_USUARIO,DT_ATUALIZACAO_NREC,NM_USUARIO_NREC,CD_CONVENIO,NR_SEQ_EXAME,NR_SEQ_GRUPO,IE_PERMITE_ACESSO,IE_SITUACAO,CD_PERFIL,IE_PERMITE_ACESSO_INTERNET,IE_PERMITE_ACESSO_INTERNET_MED,IE_TIPO_ATENDIMENTO,DS_RESULTADO)
values
(LAB_REGRA_VISUAL_EXAME_seq.Nextval,sysdate,'avictor',sysdate,'avictor',Null,1689,Null,'N','A',2189,'N','N',Null,Null)
SELECT * FROM DUAL;

INSERT ALL
INTO
LAB_REGRA_VISUAL_EXAME(NR_SEQUENCIA,DT_ATUALIZACAO,NM_USUARIO,DT_ATUALIZACAO_NREC,NM_USUARIO_NREC,CD_CONVENIO,NR_SEQ_EXAME,NR_SEQ_GRUPO,IE_PERMITE_ACESSO,IE_SITUACAO,CD_PERFIL,IE_PERMITE_ACESSO_INTERNET,IE_PERMITE_ACESSO_INTERNET_MED,IE_TIPO_ATENDIMENTO,DS_RESULTADO)
values
(LAB_REGRA_VISUAL_EXAME_seq.Nextval,sysdate,'avictor',sysdate,'avictor',Null,1546,Null,'N','A',2189,'N','N',Null,Null)
SELECT * FROM DUAL;
SELECT * FROM DUAL;

SELECT * FROM DUAL;

SELECT * FROM DUAL;

SELECT * FROM DUAL;


SELECT * FROM DUAL;