
SELECT nvl2(p.NR_SEQ_PROC_INTERNO,substr(OBTER_PROCEDIMENTO_PROC_INT(p.NR_SEQ_PROC_INTERNO),1,9),'Não comtemplado pelo SUS') cd_procedimento,
OBTER_DESC_MATERIAL(m.cd_material),
m.QT_MATERIAL

FROM PRESCR_MATERIAL m, PRESCR_MEDICA g, PROC_INT_MAT_PRESCR p

WHERE m.NR_PRESCRICAO = g.nr_prescricao
AND m.CD_MATERIAL = p.CD_MATERIAL

AND g.nr_cirurgia = :vl_atributo


--SELECT NR_CIRURGIA FROM PRESCR_MEDICA
--WHERE NR_PRESCRICAO = 701365