
SELECT OBTER_NOME_PF(p.CD_PESSOA_FISICA) paciente,
 p.NR_PRESCRICAO, m.CD_MATERIAL,
  p.CD_MEDICO,
  p.DT_PRESCRICAO,
  m.DT_SUSPENSAO
 
FROM PRESCR_MEDICA p, PRESCR_MATERIAL m
WHERE p.CD_PESSOA_FISICA = 169560

AND p.NR_PRESCRICAO = m.NR_PRESCRICAO
AND m.CD_MATERIAL = 182
--AND TRUNC(p.DT_PRESCRICAO) = '28/02/2018'
AND m.QT_DOSE = 10
AND m.CD_UNIDADE_MEDIDA_DOSE = 'amp'
ORDER BY 2





