SELECT OBTER_SE_EVOLUCAO_DIA(nr_atendimento),
dt_evolucao,
nr_atendimento

FROM EVOLUCAO_PACIENTE
--WHERE DT_EVOLUCAO BETWEEN OBTER_DT_ENTRADA_INTERNACAO(nr_atendimento) AND FIM_dia(sysdate)
WHERE DT_EVOLUCAO BETWEEN '01/10/2018' AND FIM_dia(sysdate)
AND IE_EVOLUCAO_CLINICA in ('EMP', 'E')

--AND NR_ATENDIMENTO = 123703
AND IE_SITUACAO = 'A'


--GROUP BY NR_ATENDIMENTO, dt_evolucao, hmdcc_OBTER_SE_EVOLUCAO_DIA(nr_atendimento)
ORDER BY dt_evolucao


