SELECT DS_SETOR_ATENDIMENTO SETOR,

NM_PACIENTE PACIENTE,
		NR_ATENDIMENTO ATENDIMENTO,
		TO_CHAR(DT_ENTRADA, 'DD/MM/YY hh24:mi:ss') ADMISSAO,
		ceil(QT_DIA_INTERNADO)+1 "DIAS DE INTERNAÇÃO",
		dt_alta "DATA DA ALTA", 
OBTER_DIAS_ENTRE_DATAS(dt_alta,SYSDATE) "DIAS DESDE A ALTA"

FROM ATENDIMENTO_PACIENTE_V

WHERE DT_CANCELAMENTO IS NULL
AND IE_TIPO_ATENDIMENTO = 1
AND CD_CLASSIF_SETOR IN (3,4)
AND CD_UNIDADE NOT LIKE '%LV%'
AND CD_SETOR_ATENDIMENTO NOT IN (145,129,83)
AND DT_ALTA IS NOT NULL
AND OBTER_DIAS_ENTRE_DATAS(dt_alta,SYSDATE) <= 5
order by 1,7