SELECT p.dt_prescricao, p.NR_PRESCRICAO, p.NR_PRESCRICAO_ANTERIOR, obter_nome_pf(p.CD_PRESCRITOR), m.CD_MATERIAL,m.CD_INTERVALO, m.DS_HORARIOS FROM PRESCR_MEDICA p
JOIN PRESCR_MATERIAL m
ON p.NR_PRESCRICAO = m.NR_PRESCRICAO
AND TRUNC(p.DT_PRESCRICAO) = '27/01/2021'
AND m.DS_HORARIOS IN ('20 08 ', '08', '20','16 10 04 08','10 06 14')
ORDER BY 2