SELECT * FROM PROC_INTERNO
WHERE CD_PROCEDIMENTO IN (0406040010,
0406040028,
0406040044,
0406040052,
0406040060,
0406040079,
0406040109,
0406040117,
0406040125,
0406040141,
0406040150,
0406040168,
0406040176,
0406040184,
0406040192,
0406040206,
0406040214,
0406040222,
0406040230,
0406040249,
0406040257,
0406040265,
0406040273,
0406040281,
0406040290,
0406040303,
0406040311,
0406040320,
0406040338,
0210010029,
0210010037,
0210010045,
0210010053,
0210010061,
0210010070,
0210010096,
0210010134,
0210010142,
0210010150,
0210010177,
0210010185)