SELECT * FROM PROC_INTERNO
WHERE CD_PROCEDIMENTO IN (
210010100,
210010118,
210010134,
210010150,
210010010,
403070015,
403070040,
403070058,
403070015,
403070082,
403070090,
403070104,
403070112,
403070104,
403070120,
403070139,
403070147,
403070155,
403070163)