SELECT  TESTE.CALC_HIGI,        
        TESTE2.CALC_ROUP,
        TESTE.CD_UNIDADE,
        TESTE.DT_PREVISTA_HIGI,
        TESTE.DT_INICIO_HIGI,
        TESTE.DT_FIM_HIGI,
        TESTE2.DT_PREVISTA_ROUP,
        TESTE2.DT_INICIO_ROUP,
        TESTE2.DT_FIM_ROUP,
         (TESTE.CALC_HIGI+TESTE2.CALC_ROUP)||' MINUTOS' TOTAL,

        CASE  WHEN ((TESTE.CALC_HIGI+TESTE2.CALC_ROUP))<=239 THEN 'NO PRAZO' WHEN ((TESTE.CALC_HIGI+TESTE2.CALC_ROUP))>240 THEN 'FORA DO PRAZO' END PRAZO
        
        
FROM(

		SELECT  B.DT_PREVISTA DT_PREVISTA_HIGI,
		        B.DT_INICIO DT_INICIO_HIGI,
		        B.DT_FIM DT_FIM_HIGI,
		        A.CD_UNIDADE_BASICA||' '|| A.CD_UNIDADE_COMPL CD_UNIDADE,
		        ROUND(((B.DT_FIM - B.DT_PREVISTA) * 1440),2) CALC_HIGI,
		        B.NR_SEQUENCIA,
		        SUBSTR(OBTER_VALOR_DOMINIO(1812,B.IE_STATUS_SERV),1,40) DS_STATUS,
		        nr_seq_servico
		        
		
		
		FROM    UNIDADE_ATENDIMENTO A,
		        SL_UNID_ATEND B
		
		WHERE   A.NR_SEQ_INTERNO = B.NR_SEQ_UNIDADE
		AND     TRUNC(B.DT_PREVISTA) BETWEEN '01/04/2020' AND '01/04/2020'
		AND     (A.CD_SETOR_ATENDIMENTO = 8)
		AND    nvl(nr_seq_servico_exec, nr_seq_servico) in (18,31) -- hig terminal 
		AND     IE_STATUS_SERV = 'E'
		AND     A.CD_SETOR_ATENDIMENTO NOT IN (50,59)
		) TESTE,
		(
		
		SELECT  B.DT_PREVISTA DT_PREVISTA_ROUP,
		        B.DT_INICIO DT_INICIO_ROUP,
		        B.DT_FIM DT_FIM_ROUP,
		        A.CD_UNIDADE_BASICA||' '|| A.CD_UNIDADE_COMPL CD_UNIDADE,
		        ROUND(((B.DT_FIM - B.DT_PREVISTA) * 1440),2) CALC_ROUP,
		        B.NR_SEQUENCIA,
		        SUBSTR(OBTER_VALOR_DOMINIO(1812,B.IE_STATUS_SERV),1,40) DS_STATUSR,
		        nr_seq_servico
		
		
		FROM    UNIDADE_ATENDIMENTO A,
		        SL_UNID_ATEND B
		
		WHERE   A.NR_SEQ_INTERNO = B.NR_SEQ_UNIDADE
		AND     TRUNC(B.DT_PREVISTA) BETWEEN '01/04/2020' AND '01/04/2020'
		AND     (A.CD_SETOR_ATENDIMENTO = 8)
		AND     nvl(nr_seq_servico_exec, nr_seq_servico) in (23,31) -- roup terminal
		AND     IE_STATUS_SERV = 'E'
		AND     A.CD_SETOR_ATENDIMENTO NOT IN (50,59)
		
		
		) TESTE2



WHERE   TESTE.CD_UNIDADE = TESTE2.CD_UNIDADE
AND     TRUNC(TESTE.DT_FIM_HIGI) = TRUNC(TESTE2.DT_PREVISTA_ROUP)
--AND     TESTE.NR_SEQUENCIA < TESTE2.NR_SEQUENCIA
--and rownum <=1
GROUP BY  TESTE.CALC_HIGI,      
        TESTE2.CALC_ROUP,
        TESTE.CD_UNIDADE,
        TESTE.DT_PREVISTA_HIGI,
        TESTE.DT_INICIO_HIGI,
        TESTE.DT_FIM_HIGI,
        TESTE2.DT_PREVISTA_ROUP,
        TESTE2.DT_INICIO_ROUP,
        TESTE2.DT_FIM_ROUP
        
ORDER BY cd_unidade,dt_prevista_higi,dt_prevista_roup,DT_INICIO_HIGI,DT_INICIO_HIGI

