SELECT count(*), nr_prescricao
FROM EIS_PROCED_LABORAT_V
WHERE TRUNC(DT_APROVACAO) = '28/01/2019'
AND DS_TIPO_ATENDIMENTO = 'Internado'
AND IE_STATUS_ATEND = 35
AND IE_PERIODO = 'D'
--AND DS_MOTIVO_RECOLETA = 'Sem recoleta'
--AND QT_ATENDIMENTO = 1
--AND NR_ATENDIMENTO = 148833
GROUP BY nr_prescricao


SELECT 343-132 FROM dual
-- 13, 26, 30, 35



SELECT *
FROM EIS_PROCED_LABORAT_V
WHERE DS_TIPO_ATENDIMENTO = 'Internado'
AND TRUNC(DT_REFERENCIA) = '28/01/2019'
AND IE_STATUS_ATEND in (35)
AND IE_PERIODO = 'D'
--AND DS_MOTIVO_RECOLETA = 'Sem recoleta'
--AND NR_PRESCRICAO = 1190236
--AND NR_ATENDIMENTO = 150251

